.container{
    height: auto;
    width: 400px;
    margin: 10px;
    padding: 10px;
    background-color: linen;
}

.item{
    height: 50px;
    width: 50px;
    margin: 10px;
    background-color: mediumslateblue;
    color: white;
    font-size: 20pt;
    border: solid black 2px;
}

.container.one > .item.four{
    background-color: brown;
    position: absolute;
    left:100px;
    top: 100px;
}

.one > .five{
    position: fixed;
    left: 100px;
    top: 100px;
}

.container > .one{
    position: sticky;
    top: 30px;
}

.container > .two{
    position: sticky;
    top: 30px;
    bottom: 30px;
}

.item:nth-child(5n){
    background-color: crimson;
}

.container:nth-child(2n){
    background-color: darkcyan;
}